<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Event_Ticket_Booking_App">

        <!-- Màn hình khởi chạy -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình chính -->
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- Auth -->
        <activity android:name=".view.LoginActivity" android:exported="false" />
        <activity android:name=".view.RegisterActivity" android:exported="false" />

        <!-- Hồ sơ & Cài đặt -->
        <activity android:name=".view.EditProfileActivity" android:exported="false" />
        <activity android:name=".view.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".view.HelpCenterActivity" android:exported="false" />
        <activity android:name=".view.SettingsActivity" android:exported="false" />
        <activity android:name=".view.TermsPolicyActivity" android:exported="false" />
        <activity android:name=".view.MembershipDetailsActivity" android:exported="false" />

        <!-- Sự kiện & Luồng mua vé -->
        <activity android:name=".view.EventDetailActivity" android:exported="false" />
        <activity android:name=".view.SelectTicketActivity" android:exported="false" />
        <activity android:name=".view.PaymentActivity" android:exported="false" />
        <activity android:name=".view.PaymentSuccessActivity" android:exported="false" />
        <activity android:name=".view.ReviewSubmitActivity" android:exported="false" />

        <!-- Admin -->
        <activity android:name=".view.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".view.AdminAddEventActivity" android:exported="false" />
        <activity android:name=".view.AdminManageEventsActivity" android:exported="false" />
        <activity android:name=".view.AdminManageBookingsActivity" android:exported="false" />
        <activity android:name=".view.AdminManageUsersActivity" android:exported="false" />
        <activity android:name=".view.AdminManageReviewsActivity" android:exported="false" />
        <activity android:name=".view.AdminManageVouchersActivity" android:exported="false" />
        <activity android:name=".view.AdminAddVoucherActivity" android:exported="false" />
        <activity
            android:name=".view.CustomScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>